{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <div class="block-small">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
            {{ form(form) }}
        </form>
    </div>
{% endblock %}
